<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <link href = "/css/dist/output.css" rel = 'stylesheet'>
    <title>Dream Journal</title>
</head>
<body class = 'flex mx-6 min-h-screen'>
    
  <main class = 'mx-auto bg-indigo-400 h-full h-screen rounded-lg md:w-5/6 lg:w-3/4 w-full my-auto opacity-80 flex flex-col overflow-y-auto'>
     
        
        <div class='flex w-full justify-between border-b-1 border-b-indigo-600 h-36 items-center'>
          <div class='flex flex-col pl-5 w-14 h-16'>
              <div class='flex justify-end'>
                  <span>Z</span>
              </div>
              <div class='flex justify-center'>
                  <span class='text-sm'>Z</span>
              </div>
              <div class='flex justify-start'>
                  <span class='text-xs'>z</span>
              </div>
              
          </div>
          
          <nav class='flex justify-around w-56 md:w-60 pr-4'>
              
              <a class='text-amber-400 hover:underline md:text-xl' href='/'>Home</a>

              <a class='text-amber-400 hover:underline md:text-xl' href='/info'>Info</a>
              <a class='text-amber-400 hover:underline md:text-xl' href='/logout'>Logout</a>
          </nav>
          </div>

          <!--main section and quill-->
     
          <section class='flex flex-col pt-8 pr-4 pl-4 h-full overflow-y-auto items-center'>

            <h1 class = 'text-amber-400 text-5xl mb-14 mt-8'>Edit Dream</h2>

            <input id = 'title' class = 'h-12 mb-6 w-5/6 md:w-1/3 text-center' placeholder="<%=dreams.title%>">

          <div class = 'h-3/4 w-full sm:w-5/6 md:w-3/4 lg:w-1/2 flex flex-col' data-id='<%=dreams._id%>'>
              <div id="editor" class = 'h-1/2 w-full' data-id='<%=dreams._id%>'>
            <li class='dream' data-id='<%=dreams._id%>'>
                <p id = 'dreamText'><%= dreams.dream %></p>
          </div>

          <div class = 'mx-auto '>
          <button class='del bg-amber-400 mt-8 w-28 rounded-lg mx-auto h-10 sm:h-16 hover:bg-amber-200 hover:cursor-pointer'> Delete </button>
         
          <button class = 'updateBtn bg-amber-400 mt-8 w-28 rounded-lg mx-auto h-10 sm:h-16 hover:bg-amber-200 hover:cursor-pointer'> Submit Update </span>
          </button>
          </div>
       </section>

    </main>
    
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

<!-- Initialize Quill editor -->
<script>
  var quill = new Quill('#editor', {
    theme: 'snow'
  });
  
</script>
<script src = '/js/main.js'></script>
</body>
</html>