<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href = "/css/dist/output.css" rel = 'stylesheet'>
    <title>Dream Journal</title>
</head>

    
    <body class = 'p-5 h-screen'>
       
    
        <main class = 'mx-auto bg-indigo-400 h-3/4 rounded-md p-1'>
          <a href = '/logout'>Log out</a>
            
          <h2>Select a date to see your dream from that given day</h2>

          <div>
          <input class = 'dateValue' type = 'date'>
          <button class = 'dateSearchBtn'>Search</button>
          </div>
          
  

          
            <a href="/home">Home</a>

            <% if (dreamsByDate === true){ %>
            
                <% if (dreams.length>0){ %>
                <% dreams.forEach( el => { %>
        
                    <li class='dream <%=el.date%>' data-id='<%=el._id%>'>
                        <span><%=el.date %></span>
                        <span><%= el.dream %></span>
                        <span class='del text-amber-400'> Delete </span>
                        <a href = '/journal/edit/<%=el._id%>'class = 'edit text-amber-400'>Edit</a>
                        <a href = '/journal/view/<%=el.id%>'>View</a>
                    </li>
                   
                <% }) %>
                
                <% }else{ %>    
                    <h3>It appears that you didn't record any dreams on the selected date</h3>
                    <% } %>
                </ul>
                <a class = 'text-amber-400 underline'href = '/journal/entries'>Back to your entire feed</a>
            <% }else{ %>
                <h3>Previous Dreams:</h3>
            <% dreams.forEach( el => { %>
                
                <li class='dream <%=el.date%>' data-id='<%=el._id%>'>
                    <span><%=el.date %></span>
                    <span><%= el.dream %></span>
                    <span class='del text-amber-400'> Delete </span>
                    <a href = '/journal/edit/<%=el._id%>'class = 'edit text-amber-400'>Edit</a>
                    <a class = 'text-amber-400' href = '/journal/view/<%=el.id%>'>View</a>
                  
                </li>
            <% }) %>    
            </ul>
            
          <% } %>
            <div>
                <% if (pages > 0) { %>
                    <ul class="pagination text-center">
                        <% if (current == 1) { %>
                            <li class="disabled"><a>First</a></li>
                        <% } else { %>
                            <li><a href="/journal/entries/1">First</a></li>
                        <% } %>
                        <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                        <% if (i !== 1) { %>
                            <li class="disabled"><a>...</a></li>
                        <% } %>
                        <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                            <% if (i == current) { %>
                                <li class="active"><a><%= i %></a></li>
                            <% } else { %>
                                <li><a href="/journal/entries/<%= i %>"><%= i %></a></li>
                            <% } %>
                            <% if (i == Number(current) + 4 && i < pages) { %>
                                <li class="disabled"><a>...</a></li>
                            <% } %>
                        <% } %>
                        <% if (current == pages) { %>
                            <li class="disabled"><a>Last</a></li>
                        <% } else { %>
                            <li><a href="/journal/entries/<%= pages %>">Last</a></li>
                        <% } %>
                    </ul>
                <% } %>
            </div>
        </main>
        <script src = '/js/main.js'></script>
</body>
</html>

<ul>
