<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href = "/css/dist/output.css" rel = 'stylesheet'>
    <title>Dream Journal</title>
</head>

    
<body class = 'flex mx-6 min-h-screen'>
    
    <main class = 'mx-auto bg-indigo-400 h-full h-screen rounded-lg md:w-5/6 lg:w-3/4 w-full my-auto opacity-80 flex flex-col overflow-y-auto'>

        <div class='flex w-full justify-between border-b-1 border-b-indigo-600 h-36 items-center'>
            <div class='flex flex-col pl-5 w-14 h-16'>
                <div class='flex justify-end'>
                    <span>Z</span>
                </div>
                <div class='flex justify-center'>
                    <span class='text-sm'>Z</span>
                </div>
                <div class='flex justify-start'>
                    <span class='text-xs'>z</span>
                </div>
                
            </div>
            
            <nav class='flex justify-around w-56 md:w-60 pr-4'>
                
                <a class='text-amber-400 hover:underline md:text-xl' href='/'>Home</a>
  
                <a class='text-amber-400 hover:underline md:text-xl' href='/info'>Info</a>
                <a class='text-amber-400 hover:underline md:text-xl' href='/logout'>Logout</a>
            </nav>
            </div>
  
            <!--main section and quill-->
       
            <section class='flex flex-col pt-8 pr-4 pl-4 h-full overflow-y-auto'>
                <h1 class = 'text-amber-400 text-5xl mb-10 mt-8 mx-auto'>Dream Log</h1>

            
          <h2 class = 'text-2xl mb-5'>Select a date to see your dream from that given day</h2>

          <div class = 'mb-5'>
          <input class = 'dateValue sm:w-52 h-10 pl-6 rounded-l-xl' type = 'date'>
          <button class = 'dateSearchBtn h-10 bg-amber-400 hover:bg-amber-200 hover:cursor-pointer rounded-r-xl w-20 sm:w-28'>Search</button>
          </div>
          
  

          
         

            <% if (dreamsByDate === true){ %>
            
                <% if (dreams.length>0){ %>
                <% dreams.forEach( el => { %>
        
                    <li class='dream <%=el.date%>' data-id='<%=el._id%>'>
                        <span><%=el.date %></span>
                        <%if(el.dream.length < 100){ %>
                            <span><%= el.dream %></span>
                                <% }else{%>
                                    <span><%= el.dream.slice(0,50) + '...' %></span>
                                    <% } %>
                        <span class='del text-amber-400'> Delete </span>
                        <a href = '/journal/edit/<%=el._id%>'class = 'edit text-amber-400'>Edit</a>
                        <a href = '/journal/view/<%=el.id%>'>View</a>
                    </li>
                   
                <% }) %>
                
                <% }else{ %>    
                    <h3>It appears that you didn't record any dreams on the selected date</h3>
                    <% } %>
                </ul>
                <a class = 'text-amber-400 underline'href = '/journal/entries/page/1'>Back to your entire feed</a>
            <% }else{ %>
                <h3 class = 'text-2xl'>Previous Dreams:</h3>
                <table class="table-fixed ">
                    <thead>
                      <tr>
                        <th class = 'border-indigo-600 border-2'>Date</th>
                        <th class = 'border-indigo-600 border-2'>Title</th>
                        <th class = 'border-indigo-600 border-2 w-1/2'>Dream</th>
                        <th class = 'border-indigo-600 border-2'>View</th>
                      </tr>
                    </thead>
                    <tbody>
            <% dreams.forEach( el => { %>
                
                <tr class='dream <%=el.date%> border-indigo-600 border-2' data-id='<%=el._id%>'>
                    <td class = 'border-indigo-600 border-r-2 text-center'><%=el.date %></td>
                    <td class = 'border-indigo-600 border-r-2 text-center'><%=el.title %></td>
                    <%if(el.dream.length < 100){ %>
                    <td class = ''><%= el.dream %></td>
                        <% }else{%>
                            <td><%= el.dream.slice(0,100) + '...' %></td>
                            <% } %>
                   
                    <td class = 'text-center border-indigo-600 border-l-2 hover:text-amber-200 '><a class = 'text-amber-400 hover:text-amber-200 hover:underline' href = '/journal/view/<%=el.id%>'>See Dream</a></td>
                  
                        </r>
              
            <% }) %>    
            
        </tbody>
    </table>
            <div class = 'flex justify-center mt-10'>
                <% if (pages > 0) { %>
                    <ul class="pagination text-center list-none flex justify-around w-fit gap-2">
                        <% if (current == 1) { %>
                            <li class="disabled"><a>First</a></li>
                        <% } else { %>
                            <li><a href="/journal/entries/page/1">First</a></li>
                        <% } %>
                        <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                        <% if (i !== 1) { %>
                            <li class="disabled"><a>...</a></li>
                        <% } %>
                        <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                            <% if (i == current) { %>
                                <li class="active"><a><%= i %></a></li>
                            <% } else { %>
                                <li><a href="/journal/entries/page/<%= i %>"><%= i %></a></li>
                            <% } %>
                            <% if (i == Number(current) + 4 && i < pages) { %>
                                <li class="disabled"><a>...</a></li>
                            <% } %>
                        <% } %>
                        <% if (current == pages) { %>
                            <li class="disabled"><a>Last</a></li>
                        <% } else { %>
                            <li><a href="/journal/entries/page/<%= pages %>">Last</a></li>
                        <% } %>
                    </ul>
                <% } %>
            </div>
          <% } %>
           

        </section>
        </main>
        <script src = '/js/main.js'></script>
</body>
</html>

<ul>
