<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href = "css/dist/output.css" rel = 'stylesheet'>
    <title>Dream Journal</title>
</head>
<body class = 'flex mx-6 min-h-screen'>
    
    
    <main class = 'mx-auto bg-indigo-400 h-full sm:h-screen rounded-lg md:w-5/6 lg:w-3/4 w-fit my-auto opacity-80 flex flex-col'>
        <div class='flex w-full justify-between border-b-1 border-b-indigo-600 h-36 items-center'>
            <div class='flex flex-col pl-5 w-14 h-16'>
                <div class='flex justify-end'>
                    <span>Z</span>
                </div>
                <div class='flex justify-center'>
                    <span class='text-sm'>Z</span>
                </div>
                <div class='flex justify-start'>
                    <span class='text-xs'>z</span>
                </div>
                
            </div>
            
            <nav class='flex justify-around w-56 md:w-60 pr-4'>
                
                <a class='text-amber-400 hover:underline md:text-xl' href='/'>Home</a>

                <a class='text-amber-400 hover:underline md:text-xl' href='/info'>Info</a>
                <a class='text-amber-400 hover:underline md:text-xl' href='/logout'>Logout</a>
            </nav>
       
       </div>
       
       <section class='flex flex-col pt-8 pr-4 pl-4 sm:h-full overflow-y-auto'>

        
      
       
        <!--If else statement - if todays dream exists, show it. if not, give suggestion to visit journal page-->

        <div class = 'min-h-2/3 flex flex-col justify-around items-center'>
            <div class = 'flex flex-col justify-center items-center mb-10'>
            <h1 class = 'text-amber-400 text-5xl mb-10'>Dashboard</h1>
            <h2 class = 'text-amber-400 text-3xl mb-10'>Hello <%=user.userName%></h2>
            <h3 class = 'text-2xl'> <%= date %></h3>
                </div>
            <div class = 'h-full text-2xl sm:w-1/4 flex flex-col items-center'>
            <% if(dreams){ %>
                <h2>Todays Dream Entry:</h2>
               <div class='dream flex flex-col items-center' data-id='<%=dreams._id%>'>
                    <div>
                   <span><%= dreams.dream %></span>
                   </div>
                   <div>
                   <span class='del text-amber-400'> Delete </span>
                   <a href = '/journal/edit/<%=dreams._id%>'class = 'edit text-amber-400'>Edit</a>
                   <a class = 'underline hover:text-amber-200 hover:cursor-pointer text-2xl' href = '/journal/view/<%=dreams._id%>'class = 'edit text-amber-400'>View</a>
                   </div>
               </div>
               
           <% }else{ %>  
            <h2>It appears that you have yet to log your dream journal today. Click below to do so!</h2>
               <a class = 'text-amber-400 underline hover:text-amber-200 hover:cursor-pointer text-2xl'href = '/journal'>Journal Page</a>
               <% } %>  
            </div>
            <a class = 'underline hover:text-amber-200 hover:cursor-pointer text-2xl text-amber-400'  href = '/journal/entries/page/1'>View previous entries</a>
           </div>
          
        </section>
    </main>
    <script src = 'js/main.js'></script>
</body>
</html>